.breadcrumb {
    font-family: 'DBHelvethaica' !important;
    font-size: 18px;
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-title {
    font-size:20px;
}

.btn-bet {
    padding: .2rem .5rem;
}

.note-editor.note-frame .note-editing-area .note-editable {
    padding: 15px !important;
}

.fv-help-block {
    font-family: 'DBHelvethaica' !important;
    font-size:16px !important;
}

.swal2-title {
    font-family: 'DBHelvethaica' !important;
    font-size:22px !important;
}

.swal2-confirm {
    font-family: 'DBHelvethaica' !important;
    font-size:18px !important;
}

.swal2-cancel {
    font-family: 'DBHelvethaica' !important;
    font-size:18px !important;
}

.swal2-input {
    font-family: 'DBHelvethaica' !important;
    font-size:20px !important;
}

.role {
    border-left-style:solid;
}

.text-middle {
    vertical-align: middle!important;
    margin-top: 5px;
}

.text-type {
    font-size:14px !important;
}

.uniform-choice span {
    margin-top: 10px !important;
}

.pagination {
    justify-content: center;
 }

 .dataTables_filter{
    font-family: 'DBHelvethaica' !important;
    font-size: 20px !important;
 }

 .dataTables_filter input{
    font-family: 'DBHelvethaica' !important;
    font-size: 20px !important;
 }

 .dataTables_length {
    font-family: 'DBHelvethaica' !important;
    font-size: 20px !important;
 }

 .dataTables_length select{
    font-family: 'DBHelvethaica' !important;
    font-size: 20px !important;
 }

 .datatable-footer, .datatable-header {
    padding: 1rem 1.25rem 0;
 }

 .tooltip-inner {
    font-family: 'DBHelvethaica' !important;
    font-size: 16px !important;
 }

 .swal2-content {
    font-family: 'DBHelvethaica' !important;
    font-size: 20px !important;
 }

.center {
    text-align:center;
}

.modal-title {
    font-family: 'DBHelvethaica' !important;
    font-size: 24px !important;
}

.fancybox-slide--iframe .fancybox-content {
    width  : 800px;
    height : 600px;
    max-width  : 80%;
    max-height : 80%;
    margin: 0;
}

.width_chart {
    margin:auto; width:85%;
}



  
